<div class="column is-one-fifth">
    <div class="card">
        <div class="card-content">
            <% if customer.image.present? %>
                <div class="card-image">
                    <%= image_tag customer.image %>
                </div>
            <% end %>
            <div class="title">
                <%= customer.full_name%>
            </div>
        </div>
        <div class="card-footer">
            <p class="card-footer-item">
                Phone Number <br> <%= customer.phone_number%>
            </p>
            <% if customer.email_address.present? %>
                <p class="card-footer-item">
                    Email <br> <%= customer.email_address%>
                </p>
            <% end %>
        </div>
    </div>
</div>