<nav class=navbar role="navigation">
    <div class="navbar-menu">
        <p class="navbar-item">
            <%= link_to "Index", customers_index_path %>
        </p>
        <p class="navbar-item" href="">
            <%= link_to "Alphabetized", customers_alphabetized_path %>
        </p>
        <p class="navbar-item">
            <%= link_to "No Emails", customers_missing_email_path %>
        </p>
    </div>
</nav>